Bonjour {{ utilisateur }},<br /><br />

Votre compte sur l'application <a href="{{ app_url }}">"{{ app_name }}"</a> a été créé.<br /><br />

Ce message a été envoyé automatiquement. Merci de ne pas répondre.
