<div class="text-center">
    <button class="btn btn-success"><i class="fa-solid fa-save"></i> Sauvegarder</button>
    <a href="{{ path(return_path) }}" role="button" class="btn btn-outline-secondary"><i class="fa-solid fa-sign-out-alt"></i> Annuler</a>
</div>

<blockquote class="bd-callout-info font-italic">
    * Champs obligatoire
</blockquote>
