<div class="row">
    <div class="col-md-6">
        <blockquote class="bd-callout-warning font-italic">
            * Champs obligatoire<br>
        </blockquote>
    </div>

    <div class="col-md-6 text-end">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
            <i class="fa-solid fa-sign-out-alt" aria-hidden="true"></i> {{ button_cancel|default('Annuler') }}
        </button>

        <button type="submit" class="{{ button_css|default("btn btn-success") }}">
            <i class="fa-solid fa-save" aria-hidden="true"></i> {{ button_label|default('Sauvegarder') }}
        </button>
    </div>
</div>
