<hr />
<div class="row">
    <div class="col-md-12 text-right">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
            <i class="fa-solid fa-sign-out-alt" aria-hidden="true"></i> Fermer
        </button>
    </div>
</div>
