{% extends 'base.html.twig' %}

{% block title %}Erreur 403{% endblock %}

{% block titre %}
    <h1><i class="fa-solid fa-ban text-danger"></i> Accès non autorisé</h1>
{% endblock %}

{% block filariane %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('default_index') }}">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Accès non autorisé</li>
        </ol>
    </nav>
{% endblock %}

{% block main %}
    <h2 class="text-center">Vous ne disposez pas des autorisations requises.</h2>

    <div class="mt-5 text-danger text-center">
        <i class="fa-solid fa-10x fa-ban"></i>
    </div>
{% endblock %}
