{% extends 'base.html.twig' %}

{% block title %}Erreur 404{% endblock %}

{% block titre %}
    <h1><i class="fa-solid fa-question text-danger"></i> Page introuvable</h1>
{% endblock %}

{% block filariane %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('default_index') }}">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Page introuvable</li>
        </ol>
    </nav>
{% endblock %}

{% block main %}
    <h2 class="text-center">La page que vous souhaitez afficher n'existe pas ou a été supprimée.</h2>

    <div class="mt-5 text-danger text-center">
        <i class="fa-solid fa-10x fa-question"></i>
    </div>
{% endblock %}
